[Desktop Entry]
Encoding=UTF-8
Name=Minecraft
GenericName=Minecraft Launcher
Comment=Installs Minecraft and launches it automatically
Exec=mc-installer
Icon=${SNAP}/meta/gui/mc-installer.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Game
