[Desktop Entry]
Encoding=UTF-8
Name=Minecraft
GenericName=Minecraft-NSG
Comment=A simple installer for Minecraft - Java Edition
Exec=minecraft-nsg
Icon=${SNAP}/meta/gui/mcinstaller.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Game
Keywords=minecraft-nsg;
